In [16]:
import pandas as pd

data = pd.read_csv("pratikum1Data.csv")
import pandas as pd

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        99 non-null     object
 1   gender            99 non-null     object
 2   SeniorCitizen     99 non-null     int64
 3   Partner           99 non-null     object
 4   Dependents        98 non-null     object
 5   tenure            98 non-null     float64
 6   PhoneService      99 non-null     object
 7   MultipleLines     98 non-null     object
 8   InternetService   99 non-null     object
 9   OnlineSecurity    99 non-null     object
 10  OnlineBackup      99 non-null     object
 11  DeviceProtection  98 non-null     object
 12  TechSupport       99 non-null     object
 13  StreamingTV       99 non-null     object
 14  StreamingMovies   99 non-null     object
 15  Contract          99 non-null     object
 16  PaperlessBilling  99 non-null     object
 17  PaymentMethod     99 non-null     object
 18  MonthlyCharges    99 non-null     float64
 19  TotalCharges      99 non-null     float64
 20  Churn             99 non-null     object
dtypes: float64(3), int64(1), object(17)
memory usage: 16.4+ KB

In [25]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          1
tenure              1
PhoneService        0
MultipleLines       1
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    1
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [27]:
modus_dependents = data['Dependents'].mode()[0]
modus_tenure = data['tenure'].mode()[0]
modus_multipleLines = data['MultipleLines'].mode()[0]
modus_deviceProtection = data['DeviceProtection'].mode()[0]

modus_values = {
    'Dependents': modus_dependents,
    'tenure': modus_tenure,
    'MultipleLines': modus_multipleLines,
    'DeviceProtection': modus_deviceProtection
}

modus_values

{'Dependents': 'No',
 'tenure': 1.0,
 'MultipleLines': 'No',
 'DeviceProtection': 'No'}

In [31]:
data.fillna(modus_values, inplace=True)

missing_values_after_correction = data.isnull().sum()

missing_values_after_correction

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [32]:
data = data.drop('customerID', axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            99 non-null     object
 1   SeniorCitizen     99 non-null     int64
 2   Partner           99 non-null     object
 3   Dependents        99 non-null     object
 4   tenure            99 non-null     float64
 5   PhoneService      99 non-null     object
 6   MultipleLines     99 non-null     object
 7   InternetService   99 non-null     object
 8   OnlineSecurity    99 non-null     object
 9   OnlineBackup      99 non-null     object
 10  DeviceProtection  99 non-null     object
 11  TechSupport       99 non-null     object
 12  StreamingTV       99 non-null     object
 13  StreamingMovies   99 non-null     object
 14  Contract          99 non-null     object
 15  PaperlessBilling  99 non-null     object
 16  PaymentMethod     99 non-null     object
 17  MonthlyCharges    99 non-null     float64
 18  TotalCharges      99 non-null     float64
 19  Churn             99 non-null     object
dtypes: float64(3), int64(1), object(16)
memory usage: 15.6+ KB